.about{
  font-family: 'Roboto';
  color: #262262;
  font-size: 26px;
  font-weight: 700;
}

.about-height {
  height: 8rem;
}

.class-height {
  min-height: 50rem;
}

.body {
  width: 90%;
  height: 80%;
}

.item{
  min-height: 20rem;
  /*width: 22%;*/
}

.image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
  width: 100%;
  height: 10rem;
}

.text {
  font-family: 'Roboto';
}

.error-class-hidden {
  display: none;
}

.error-class-visible {
  /* padding: 20px; */
  width: fit-content;
  /* text-align-last: center; */
  /* margin-left: 25vw; */
  margin: auto;
}