<nav id="navb" class="navbar navbar-default navbar-fixed-top navbar card-bordered sticky-top navbar-expand-lg navbar-light bg-alt-lvl2 pt-0 pb-0 d-flex nav-bg">
  <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand cursor-pointer" (click)="HomeButtonHandler()">
    <img src="/assets/images/cedrus 1.png" width="100%">
  </a>

  <button class="navbar-toggler btn-toggle" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>



  <div class="collapse navbar-collapse pt-3 nav-bar" id="navbarNav" [ngbCollapse]="toggleNavbar">
    <ul class="navbar-nav fs-6 text-uppercase fw-500">
      <li class="nav-item ms-3 me-3">
        <a spyOn="about" activeClass="item-active" class="nav-link item cursor-pointer width-fit" (click)="AboutButtonHandler()">About</a>
      </li>
      <li class="nav-item">
        <a spyOn="contact" activeClass="item-active" class="nav-link item cursor-pointer width-fit" (click)="ContactUsButtonHandler()">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
