
<div class="container pb-5">
  <div class="row">
    <div class="col-12 col-lg-6">
      <img src="/assets/images/Screen Shot 2022-04-28 at 11.47 1.png" class="img" height="auto">
    </div>
    <div class="col-12 col-lg-6 p-5 p-md-3">
      <p class="motto">FOR SURGEONS, BY SURGEONS</p>

      <p class="title">Accurate. Smart. Simple.</p>

      <p class="description"
      > {{ description }} </p>

      <button type="submit" (click)="ContactUsButtonHandler()" class="btn1 row btn rounded-pill btn-lg mb-5 shadow fs-4 fw-500">Get Involved</button>

      <p class="inc_text"
      > {{ inc_text }} </p>
    </div>
  </div>
</div>
